.card {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 2%;
    padding: 2%;
    background: silver;
    border-radius: 15px;
}

.card p {
    color: black;
}