.home {
    display: flex;
    justify-content: center;
    margin-top: 3.5%;
}

.home div {
    border: 1px solid red;
    padding: 10px 20px;
    background: lightblue;
    text-align: center;
    width: 80%;
    margin-left: -10%;
    color: black;
    
}

.home .add {
    margin-left: 50px;
}